<!DOCTYPE html>
<html>
    <head>
        <title>Cat Weight Tracker</title>
    </head>
    <body>
        <header>
            <h1 style="background-color: aqua; text-align: center;">&#128062; Cat Weight Tracker &#128049;</h1>
        
            <p>🐈‍⬛Measure the chonk🐈</p>
        
            <a href="{% url 'tracker:index' %}">home</a>
        </header>
        
        {% block content %}{% endblock content %}
        
        <footer>
            <p>for the schmittens</p>
        </footer>
    </body>
</html>
